manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    cores = '6'
    memory = '16.GB'
    help = false
    profile = false
    //maxmem = '8e9'

    // input
    nano = ''
    illumina = ''
    sra = ''
    host = ''
    list = false

    // parameters
    gsize = '100m'
    length = '500'
    model = 'r941_min_high'
    key = "981d79eda39c12b9e14d0059473f3a9f8108"

    // databases
    sour_db = ''
    species = false
    phix = false

    // workflow adjustments
    assemblerHybrid = 'spades'
    assemblerLong = 'flye'

    // folder structure
    output = 'results'
    readdir = '00-Quality_of_reads'
    assemblydir = '01-Assembly'

    // ENA-specific params
    study = ''
    sample = ''
    run = ''

    // optional profile configurations, only necessary for HPC LSF execution
    workdir = "/tmp/nextflow-work-$USER"
    cloudDatabase = false
    cachedir = false
}

profiles {
    standard { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' }

    conda { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/conda.config' }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config' }

    ebi {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/hps/nobackup2/production/metagenomics/$USER/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/singularity/$USER"
        includeConfig 'configs/lsf.config' }

    gcloudMartin { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://BUCKET/DATABASE-FOLDER/' 
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

}