manifest {
    mainScript = 'main.nf'
}

tower {
  accessToken = '0330915039dabdf49f117eed00dc7763c565590d'
  enabled = true
}

// default, other configurations [conda, singularity] will disable docker 
docker { enabled = true }

// default parameters
params {
    cores = '4'
    memory = '8'
    help = false
    profile = false

    // input
    nano = ''
    illumina = ''
    sra = ''
    list = false

    index_ont = ''
    index_fna = ''
    index_ill = ''

    host = ''
    species = ''
    phix = true
    dcs = true

    // parameters
    gsize = ''
    length = '500'
    model = 'r941_min_high'
    // SRA key
    key = "981d79eda39c12b9e14d0059473f3a9f8108"

    // databases
    dia_db = false

    // workflow adjustments
    assemblerHybrid = 'spades'
    assemblerLong = 'flye'

    // folder structure
    output = 'results'

    // ENA-specific params
    study = ''
    sample = ''
    run = ''

    // optional profile configurations, only necessary for HPC LSF execution
    workdir = "/tmp/nextflow-work-$USER"
    cloudDatabase = false
    cachedir = false
}

profiles {

    local { 
        params.cloudProcess = false
        params.cloudDatabase = false
        includeConfig 'configs/local.config' 
    }

    docker {
        includeConfig 'configs/docker.config'
    }

    singularity {
        includeConfig 'configs/singularity.config'
    }

    conda { 
        includeConfig 'configs/conda.config'
    }

    lsf {
        params.cloudProcess = true
        includeConfig 'configs/lsf.config'
    }

    slurm {
        params.cloudProcess = true
        includeConfig 'configs/slurm.config' 
    }

    ebi {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/hps/nobackup2/production/metagenomics/$USER/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/singularity/$USER"
        includeConfig 'configs/lsf.config' }

    yoda {
        params.cloudProcess = true
  	    params.workdir = "/hps/nobackup2/metagenomics/$USER/nextflow-work-$USER"
  	    params.cloudDatabase = "/hps/nobackup2/metagenomics/$USER/nextflow-databases/"
  	    params.cachedir = "/hps/nobackup2/metagenomics/$USER/singularity"
        includeConfig 'configs/lsf.config' }

    ara {
        params.cloudProcess = true
  	    params.workdir = "/beegfs/rna-hta/wi74fij/work"
  	    params.cloudDatabase = "/beegfs/rna-hta/wi74fij/nextflow-databases/"
        includeConfig 'configs/slurm.config' }

    gcloud { 
        params.cloudProcess = true
        params.cloudDatabase = 'gs://BUCKET/DATABASE-FOLDER/' 
        bucketDir = 'gs://BUCKET/WORKDIR-FOLDER'
        google { project = 'PROJECT-ID'; zone = '' }  
        includeConfig 'configs/googlegenomics.config' }

}