docker { enabled = false }

process {
    withLabel: basics {     conda = 'envs/basics.yaml' } 
    withLabel: diamond {    conda = 'envs/diamond.yaml' } 
    withLabel: prodigal {   conda = 'envs/prodigal.yaml' } 
    withLabel: ubuntu {     conda = 'envs/basics.yaml' } 
    withLabel: fastp {      conda = 'envs/fastp.yaml' } 
    withLabel: nanoplot {   conda = 'envs/nanoplot.yaml' } 
    withLabel: spades {     conda = 'envs/spades.yaml' } 
    withLabel: flye {       conda = 'envs/flye.yaml' } 
    withLabel: minimap2 {   conda = 'envs/minimap2.yaml' } 
    withLabel: racon {      conda = 'envs/racon.yaml' } 
    withLabel: medaka {     conda = 'envs/medaka.yaml' } 
    withLabel: pilon {      conda = 'envs/pilon.yaml' } 
    withLabel: kmc {        conda = 'envs/kmc.yaml' } 
    withLabel: ggplot2 {    conda = 'envs/ggplot2.yaml' } 
}
