
workDir = params.workdir
process.executor = 'local'

        process {
            withLabel: basics { cpus = 1; conda = 'envs/basics.yaml' } 
            withLabel: ubuntu { cpus = 1; conda = 'envs/basics.yaml' } 
            withLabel: fastp { cpus = params.cores; conda = 'envs/fastp.yaml' } 
            withLabel: nanoplot { cpus = 4; conda = 'envs/nanoplot.yaml' } 
            withLabel: spades { cpus = params.cores; conda = 'envs/spades.yaml' } 
            withLabel: flye { cpus = params.cores; conda = 'envs/flye.yaml' } 
            withLabel: minimap2 { cpus = params.cores; conda = 'envs/minimap2.yaml' } 
            withLabel: racon { cpus = params.cores; conda = 'envs/racon.yaml' } 
            withLabel: medaka { cpus = params.cores; conda = 'envs/medaka.yaml' } 
            withLabel: kmc { cpus = params.cores; conda = 'envs/kmc.yaml' } 
        }
