process {
    withLabel: basics {     conda = "$baseDir/envs/basics.yaml" } 
    withLabel: bbmap {      conda = "$baseDir/envs/bbmap.yaml" } 
    withLabel: bwa {        conda = "$baseDir/envs/bwa.yaml" } 
    withLabel: diamond {    conda = "$baseDir/envs/diamond.yaml" } 
    withLabel: prodigal {   conda = "$baseDir/envs/prodigal.yaml" } 
    withLabel: fastp {      conda = "$baseDir/envs/fastp.yaml" } 
    withLabel: nanoplot {   conda = "$baseDir/envs/nanoplot.yaml" } 
    withLabel: spades {     conda = "$baseDir/envs/spades.yaml" } 
    withLabel: flye {       conda = "$baseDir/envs/flye.yaml" } 
    withLabel: minimap2 {   conda = "$baseDir/envs/minimap2.yaml" } 
    withLabel: racon {      conda = "$baseDir/envs/racon.yaml" } 
    withLabel: medaka {     conda = "$baseDir/envs/medaka.yaml" } 
    withLabel: pilon {      conda = "$baseDir/envs/pilon.yaml" } 
    withLabel: samtools {   conda = "$baseDir/envs/samtools.yaml" } 
    withLabel: ubuntu {     conda = "$baseDir/envs/basics.yaml" } 
    withLabel: kmc {        conda = "$baseDir/envs/kmc.yaml" } 
    withLabel: ggplot2 {    conda = "$baseDir/envs/ggplot2.yaml" } 
}
