process {
    withLabel: basics {     container = 'nanozoo/basics:1.0--da8477a' } 
    withLabel: fastp {      container = 'nanozoo/fastp:0.20.0--78a7c63' }
    withLabel: nanoplot {   container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
    withLabel: sourmash {   container = 'nanozoo/sourmash:2.3.0--4257650' }
    withLabel: spades {     container = 'nanozoo/spades:3.13.1--2c2a4c0'  }
    withLabel: flye {       container = 'nanozoo/flye:2.5--bae51d9' } 
    withLabel: minimap2 {   container = 'nanozoo/minimap2:2.17--caba7af' }
    withLabel: racon {      container = 'nanozoo/racon:1.4.10--a97f2c7' } 
    withLabel: medaka {     container = 'nanozoo/medaka:0.10.0--1e71fdd' }
    withLabel: ubuntu {     container = 'ubuntu:xenial' } 
    withLabel: kmc {        container = 'nanozoo/kmc:3.1.2--fa852dd' } 
    withLabel: khmer {      container = 'nanozoo/khmer:3.0.0--4650bf7' } 
//        withLabel: filtlong { cpus = params.cores ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
//        withLabel: megahit { cpus = params.cores ; container = 'nanozoo/megahit:1.2.9--87c4487' }
//        withLabel: pilon { cpus = params.cores ; container = 'nanozoo/shovill:1.0.9--dc1de54' }
//        withLabel: python38 { cpus = 1 ; container = 'python:3.8.0' } 
//        withLabel: seqtk { cpus = params.cores ; container = 'nanozoo/seqtk:1.3--dc0d16b' } 
//        withLabel: unicycler { cpus = params.cores ; container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
}
