process {
    withLabel: basics {     container = 'nanozoo/basics:1.0--da8477a' } 
    withLabel: bbmap {      container = 'nanozoo/bbmap:38.79--07fb785' } 
    withLabel: diamond {    container = 'nanozoo/diamond:0.9.14--dc7daf8' }
    withLabel: prodigal {   container = 'nanozoo/prodigal:2.6.3--2769024' }
    withLabel: fastp {      container = 'nanozoo/fastp:0.20.0--78a7c63' }
    withLabel: nanoplot {   container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
    withLabel: sourmash {   container = 'nanozoo/sourmash:2.3.0--4257650' }
    withLabel: spades {     container = 'nanozoo/spades:3.14--c3546a9'  }
    withLabel: flye {       container = 'nanozoo/flye:2.9.3--973d045' } 
    withLabel: minimap2 {   container = 'nanozoo/minimap2:2.26--d9ef6b6' }
    withLabel: racon {      container = 'nanozoo/racon:1.5.0--c32e531' } 
    withLabel: medaka {     container = 'nanozoo/medaka:1.11.3--5764f18' }
    withLabel: pilon {      container = 'nanozoo/pilon:1.23--b21026d' }
    withLabel: ubuntu {     container = 'ubuntu:xenial' } 
    withLabel: kmc {        container = 'nanozoo/kmc:3.1.2--fa852dd' } 
    withLabel: khmer {      container = 'nanozoo/khmer:3.0.0--4650bf7' }     
    withLabel: ggplot2 {    container = 'nanozoo/r_ggplot2:0.1--6405f6d' }
}
