process {
    withLabel: basics {     container = 'nanozoo/basics:1.0--da8477a' } 
    withLabel: bbmap {      container = 'nanozoo/bbmap:38.79--8e915d7' } 
    withLabel: diamond {    container = 'nanozoo/diamond:0.9.14--dc7daf8' }
    withLabel: prodigal {   container = 'nanozoo/prodigal:2.6.3--2769024' }
    withLabel: fastp {      container = 'nanozoo/fastp:0.20.1--4bf9624' }
    withLabel: nanoplot {   container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel: spades {     container = 'nanozoo/spades:3.14.1--794e6a2'  }
    withLabel: flye {       container = 'nanozoo/flye:2.8--95b6dca' } 
    withLabel: minimap2 {   container = 'nanozoo/minimap2:2.17--7066fef' }
    withLabel: racon {      container = 'nanozoo/racon:1.4.13--bb8a908' } 
    withLabel: medaka {     container = 'nanozoo/medaka:1.0.3--7c62d67' }
    withLabel: pilon {      container = 'nanozoo/pilon:1.23--b21026d' }
    withLabel: ubuntu {     container = 'ubuntu:xenial' } 
    withLabel: kmc {        container = 'nanozoo/kmc:3.1.2--fa852dd' } 
    //withLabel: khmer {    container = 'nanozoo/khmer:3.0.0--4650bf7' }     
    withLabel: ggplot2 {    container = 'nanozoo/r_ggplot2:0.1--6405f6d' }
}
