workDir = params.workdir
// cloud { preemptible = true }

    process {   
        executor = 'google-pipelines'

        withLabel: basics { cpus = 2 ; memory = '16 GB' }
        withLabel: fastp { cpus = 12 ; memory = '16 GB' }
        withLabel: nanoplot { cpus = 8 ; memory = '14 GB' }
        withLabel: spades { cpus = 32 ; memory = '200 GB' }
        withLabel: sourmash { cpus = 8 ; memory = '24 GB' }
        withLabel: flye { cpus = 32 ; memory = '120 GB' } 
        withLabel: minimap2 { cpus = 8 ; memory = '24 GB' }
        withLabel: racon { cpus = 20 ; memory = '60 GB' } 
        withLabel: medaka { cpus = 20 ; memory = '40 GB' } 
        withLabel: ubuntu { cpus = 4 ; memory = '8 GB' } 
        withLabel: kmc { cpus = 8 ; memory = '16 GB' } 
    }