
workDir = "/tmp/nextflow-work-$USER"
// cloud { preemptible = true }
docker { enabled = true }

    process {   
        executor = 'google-pipelines'

        withLabel: fastp { cpus = 12 ; memory = '16 GB' ; container = 'nanozoo/fastp:0.20.0--78a7c63' }
        withLabel: filtlong { cpus = 4 ; memory = '12 GB' ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
        withLabel: flye { cpus = 50 ; memory = '100 GB' ; container = 'nanozoo/flye:2.5--bae51d9' } 
        withLabel: medaka { cpus = 20 ; memory = '40 GB' ; container = 'nanozoo/medaka:0.10.0--1e71fdd' } 
        withLabel: megahit { cpus = 50 ; memory = '100 GB' ; container = 'nanozoo/megahit:1.2.9--87c4487' }
        withLabel: minimap2 { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/minimap2:2.17--caba7af' }
        withLabel: nanoplot { cpus = 8 ; memory = '14 GB' ; container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
        withLabel: pilon { cpus = 30 ; memory = '60 GB'; container = 'nanozoo/shovill:1.0.9--dc1de54' } 
        withLabel: python38 { cpus = 1 ; memory = '4 GB'; cpus = params.cores ; container = 'python:3.8.0' } 
        withLabel: racon { cpus = 10 ; memory = '30 GB' ; container = 'nanozoo/racon:1.4.7--239559c' } 
        withLabel: seqtk { cpus = 2 ; memory = '6 GB' ; container = 'nanozoo/seqtk:1.3--dc0d16b' } 
        withLabel: sourmash { cpus = 8 ; memory = '24 GB' ; container = 'quay.io/biocontainers/sourmash:2.0.0a10--py27hfc679d8_0'  }
        withLabel: spades { cpus = 50 ; memory = '100 GB' ; container = 'nanozoo/spades:3.13.1--2c2a4c0'  }
        withLabel: basics { cpus = 4 ; memory = '20 GB' ; container = 'nanozoo/bx_basics:1.0--da8477a' } 
        withLabel: unicycler { container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
    }