
workDir = "/tmp/nextflow-work-$USER"
process.executor = 'local'
docker { enabled = true }

    process {
        withLabel: bandage { cpus = params.cores ; container = 'nanozoo/bandage:0.8.1--7da3a06' } 
        withLabel: busco { cpus = params.cores ; container = 'nanozoo/busco:3.0.2--0d4c614' } 
        withLabel: bwa { cpus = params.cores ; container = 'nanozoo/shovill:1.0.9--dc1de54' } 
        withLabel: checkm { cpus = params.cores ; container = 'nanozoo/metawrap:1.2.2--de94241'}
        withLabel: concoct { cpus = params.cores ; container = 'nanozoo/concoct:1.1.0--03a3888' }
        withLabel: fastp { cpus = params.cores ; container = 'nanozoo/fastp:0.20.0--78a7c63' }
        withLabel: filtlong { cpus = params.cores ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
        withLabel: flye { cpus = params.cores ; container = 'nanozoo/flye:2.5--bae51d9' } 
        withLabel: maxbin2 { cpus = params.cores ; container = 'nanozoo/maxbin2:2.2.7--b643a6b' }  
        withLabel: medaka { cpus = params.cores ; container = 'nanozoo/medaka:0.10.0--1e71fdd' }
        withLabel: megahit { cpus = params.cores ; container = 'nanozoo/megahit:1.2.9--87c4487' }
        withLabel: metabat2 { cpus = params.cores ; container = 'nanozoo/metabat2:2.13--0e2577e' }  
        withLabel: metawrap { cpus = params.cores ; container = 'nanozoo/metawrap:1.2.2--de94241' } 
        withLabel: minimap2 { cpus = params.cores ; container = 'nanozoo/minimap2:2.17--caba7af' }
        withLabel: nanoplot { cpus = params.cores ; container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
        withLabel: pilon { cpus = params.cores ; container = 'nanozoo/shovill:1.0.9--dc1de54' }
        withLabel: python38 { cpus = 1 ; container = 'python:3.8.0' } 
        withLabel: racon { cpus = params.cores ; container = 'nanozoo/racon:1.4.7--239559c' } 
        withLabel: seqtk { cpus = params.cores ; container = 'nanozoo/seqtk:1.3--dc0d16b' } 
        withLabel: sourmash { cpus = params.cores ; container = 'quay.io/biocontainers/sourmash:2.0.0a10--py36hfc679d8_0' }
        withLabel: sourmash_new { cpus = params.cores ; container = 'nanozoo/sourmash:2.3.0--4257650' }
        withLabel: spades { cpus = params.cores; container = 'nanozoo/spades:3.13.1--2c2a4c0'  }
        withLabel: ubuntu { cpus = params.cores ; container = 'ubuntu:bionic' } 
        withLabel: unicycler { cpus = params.cores ; container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }

        withLabel: eggnog { cpus = params.cores ; container = 'quay.io/biocontainers/eggnog-mapper:2.0.1--py_0' }
    }
