workDir = params.workdir

process {
    withLabel: basics {     cpus = 1 } 
    withLabel: fastp {      cpus = params.cores }
    withLabel: nanoplot {   cpus = params.cores }
    withLabel: sourmash {   cpus = params.cores }
    withLabel: spades {     cpus = params.cores }
    withLabel: flye {       cpus = params.cores; memory = params.memory } 
    withLabel: minimap2 {   cpus = params.cores }
    withLabel: racon {      cpus = params.cores } 
    withLabel: medaka {     cpus = params.cores }
    withLabel: ubuntu {     cpus = 1 } 
    withLabel: kmc {        cpus = params.cores } 
    withLabel: khmer {      cpus = params.cores } 
//        withLabel: filtlong { cpus = params.cores ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
//        withLabel: megahit { cpus = params.cores ; container = 'nanozoo/megahit:1.2.9--87c4487' }
//        withLabel: pilon { cpus = params.cores ; container = 'nanozoo/shovill:1.0.9--dc1de54' }
//        withLabel: python38 { cpus = 1 ; container = 'python:3.8.0' } 
//        withLabel: seqtk { cpus = params.cores ; container = 'nanozoo/seqtk:1.3--dc0d16b' } 
//        withLabel: unicycler { cpus = params.cores ; container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
}
