workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 100
}

// used when singularity is activated
singularity { 
    cacheDir = params.cachedir
}

process {   
        withLabel: basics { cpus = 2 ; memory = '16 GB'; clusterOptions = '-q short' }
        //withLabel: bbmap { cpus = 24 ; memory = '16 GB'; clusterOptions = '-q short' }
        withLabel: fastp { cpus = 12 ; memory = '16 GB'; clusterOptions = '-q short' }
        withLabel: prodigal { cpus = 8 ; memory = '16 GB'; clusterOptions = '-q short' }
        withLabel: diamond { cpus = 12 ; memory = '16 GB'; clusterOptions = '-q short' }
        withLabel: ggplot2 { cpus = 2 ; memory = '4 GB'; clusterOptions = '-q short' }
        withLabel: nanoplot { cpus = 8 ; memory = '14 GB'; clusterOptions = '-q short' }
        //withLabel: spades { cpus = 32 ; memory = '200 GB' ; clusterOptions = '-P bigmem -q short' }
        withLabel: sourmash { cpus = 8 ; memory = '24 GB'; clusterOptions = '-q short' }
        //withLabel: flye { cpus = 12 ; memory = '12 GB' ; clusterOptions = '-P bigmem -q short' }
        withLabel: minimap2 { cpus = 8 ; memory = '24 GB'; clusterOptions = '-q short' }
        //withLabel: racon { cpus = 4 ; memory = '4 GB'; clusterOptions = '-q short' }  
        withLabel: medaka { cpus = 20 ; memory = '40 GB'; clusterOptions = '-q short' }
        //withLabel: pilon { cpus = 20 ; memory = '40 GB'; clusterOptions = '-q short' } 
        withLabel: ubuntu { cpus = 4 ; memory = '8 GB'; clusterOptions = '-q short' } 
        withLabel: kmc { cpus = 8 ; memory = '16 GB'; clusterOptions = '-q short' } 
}
