
workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 100
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
}
            
process {   
    cache = "lenient"
    errorStrategy = "retry"
    maxRetries = 1

        withLabel: basics { cpus = 4 ; memory = '20 GB' ; container = 'nanozoo/basics:1.0--da8477a' }
        withLabel: fastp { cpus = 12 ; memory = '16 GB' ; container = 'nanozoo/fastp:0.20.0--78a7c63' }
        withLabel: nanoplot { cpus = 8 ; memory = '14 GB' ; container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
        withLabel: spades { cpus = 32 ; memory = '200 GB' ; clusterOptions = '-P bigmem'; container = 'nanozoo/spades:3.13.1--2c2a4c0' }
        withLabel: sourmash { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/sourmash:2.3.0--4257650' }
        withLabel: flye { cpus = 20 ; memory = '240 GB' ; clusterOptions = '-P bigmem'; container = 'nanozoo/flye:2.5--bae51d9' } 
        withLabel: minimap2 { cpus = 8 ; memory = '24 GB' ; container = 'nanozoo/minimap2:2.17--caba7af' }
        withLabel: racon { cpus = 20 ; memory = '60 GB' ; container = 'nanozoo/racon:1.4.10--a97f2c7' } 
        withLabel: medaka { cpus = 20 ; memory = '40 GB' ; container = 'nanozoo/medaka:0.10.0--1e71fdd' } 
        withLabel: ubuntu { cpus = 4 ; memory = '8 GB' ; container = 'ubuntu:xenial' } 
        withLabel: kmc { cpus = 8 ; memory = '16 GB' ; container = 'nanozoo/kmc:3.1.2--fa852dd' } 
        //withLabel: khmer { cpus = 8 ; memory = '64 GB' ; container = 'nanozoo/khmer:3.0.0--4650bf7' } 

/*
        withLabel: filtlong { cpus = 4 ; memory = '12 GB' ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
        withLabel: megahit { cpus = 50 ; memory = '200 GB' ; clusterOptions = '-P bigmem'; container = 'nanozoo/megahit:1.2.9--87c4487' }
        withLabel: pilon { cpus = 30 ; memory = '60 GB'; container = 'nanozoo/shovill:1.0.9--dc1de54' } 
        withLabel: python38 { cpus = 1 ; memory = '4 GB'; cpus = params.cores ; container = 'python:3.8.0' } 
        withLabel: seqtk { cpus = 2 ; memory = '6 GB' ; container = 'nanozoo/seqtk:1.3--dc0d16b' } 
        withLabel: unicycler { container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
*/
}
