workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 100
}

// used when singularity is activated
singularity { 
    cacheDir = params.cachedir
}

process {   
        withLabel: basics { cpus = 2 ; memory = '16 GB' }
        withLabel: fastp { cpus = 12 ; memory = '16 GB' }
        withLabel: nanoplot { cpus = 8 ; memory = '14 GB' }
        withLabel: spades { cpus = 32 ; memory = '200 GB' ; clusterOptions = '-P bigmem' }
        withLabel: sourmash { cpus = 8 ; memory = '24 GB' }
        withLabel: flye { cpus = 32 ; memory = '120 GB' ; clusterOptions = '-P bigmem' } 
        withLabel: minimap2 { cpus = 8 ; memory = '24 GB' }
        withLabel: racon { cpus = 20 ; memory = '60 GB' } 
        withLabel: medaka { cpus = 20 ; memory = '40 GB' } 
        withLabel: ubuntu { cpus = 4 ; memory = '8 GB' } 
        withLabel: kmc { cpus = 8 ; memory = '16 GB' } 
        //withLabel: khmer { cpus = 8 ; memory = '64 GB' ; container = 'nanozoo/khmer:3.0.0--4650bf7' } 
/*
        withLabel: filtlong { cpus = 4 ; memory = '12 GB' ; container = 'nanozoo/filtlong:v0.2.0--afa175e' }
        withLabel: megahit { cpus = 50 ; memory = '200 GB' ; clusterOptions = '-P bigmem'; container = 'nanozoo/megahit:1.2.9--87c4487' }
        withLabel: pilon { cpus = 30 ; memory = '60 GB'; container = 'nanozoo/shovill:1.0.9--dc1de54' } 
        withLabel: python38 { cpus = 1 ; memory = '4 GB'; cpus = params.cores ; container = 'python:3.8.0' } 
        withLabel: seqtk { cpus = 2 ; memory = '6 GB' ; container = 'nanozoo/seqtk:1.3--dc0d16b' } 
        withLabel: unicycler { container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
*/
}
