process {
    withLabel: basics   { cpus = 1; memory = 2.GB }
    withLabel: bbmap    { cpus = 16; memory = 24.GB }
    withLabel: prodigal { cpus = 8 ; memory = 16.GB }
    withLabel: diamond  { cpus = 12 ; memory = 16.GB }
    withLabel: ggplot2  { cpus = 2 ; memory = 4.GB }
    withLabel: ubuntu   { cpus = 1; memory = 2.GB }
    withLabel: fastp    { cpus = 12; memory = 8.GB }
    withLabel: nanoplot { cpus = 4; memory = 8.GB; }
    withLabel: spades   { cpus = 24; memory = 60.GB }
    withLabel: flye     { cpus = {24 * task.attempt}; memory = {60.GB * task.attempt}; errorStrategy = { task.exitStatus in 1 || 130..140 ? 'retry' : 'terminate' }; maxRetries = 2; }
    withLabel: minimap2 { cpus = 8; memory = 24.GB }
    withLabel: racon    { cpus = 16; memory = 36.GB }
    withLabel: medaka   { cpus = 16; memory = 24.GB }
    withLabel: pilon    { cpus = 20 ; memory = 40 } 
    withLabel: kmc      { cpus = 8; memory = 16.GB }
}

// LSF: ; clusterOptions = '-P bigmem'
