workDir = params.workdir

executor {
    name = "slurm"
    queueSize = 100
}

process {
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
            withLabel: basics { cpus = 1; memory = '2 GB' }
            withLabel: ubuntu { cpus = 1; memory = '2 GB' }
            withLabel: fastp { cpus = 12; memory = '8 GB' }
            withLabel: nanoplot { cpus = 4; memory = '8 GB' }
            withLabel: spades { cpus = 24; memory = '60 GB' }
            withLabel: flye { cpus = 24; memory = '80 GB' }
            withLabel: minimap2 { cpus = 8; memory = '24 GB' }
            withLabel: racon { cpus = 16; memory = '36 GB' }
            withLabel: medaka { cpus = 16; memory = '24 GB' }
            withLabel: kmc { cpus = 8; memory = '16 GB' }
        }