workDir = params.workdir

executor {
    name = "slurm"
    queueSize = 100
}

process {
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
            withLabel: basics { cpus = 1; memory = '2 GB'; conda = 'envs/basics.yaml' }
            withLabel: ubuntu { cpus = 1; memory = '2 GB'; conda = 'envs/basics.yaml' }
            withLabel: fastp { cpus = params.cores; memory = '8 GB'; conda = 'envs/fastp.yaml' }
            withLabel: nanoplot { cpus = 4; memory = '8 GB'; conda = 'envs/nanoplot.yaml' }
            withLabel: spades { cpus = params.cores; memory = '60 GB'; conda = 'envs/spades.yaml' }
            withLabel: flye { cpus = params.cores; memory = '80 GB'; conda = 'envs/flye.yaml' }
            withLabel: minimap2 { cpus = params.cores; memory = '24 GB'; conda = 'envs/minimap2.yaml' }
            withLabel: racon { cpus = params.cores; memory = '36 GB'; conda = 'envs/racon.yaml' }
            withLabel: medaka { cpus = params.cores; memory = '24 GB'; conda = 'envs/medaka.yaml' }
            withLabel: kmc { cpus = params.cores; memory = '16 GB'; conda = 'envs/kmc.yaml' }
        }